SERVER=SERVER_NAME
DB_USER=USERNAME
PASSWORD=PASSWORD_FOR_USER
ADDRESS=IP_ADDRESS_OF_SERVER
PORT=PORT_NUMBER_OF_SERVER
DATABASE=DATABASE_NAME

PEPPER=PEPPER_STRING

VALKEY_HOST=VALKEY_HOST_NAME
VALKEY_PORT=VALKEY_PORT_NUMBER
VALKEY_DB=VALKEY_IDENTIFICATION

RESEND_API_KEY=API_KEY_TO_RESEND_API

JWT_SECRET=SECRET_FOR_JWT_ENCRYPTION