DB_SERVER=SERVER_NAME
DB_USER=USERNAME
DB_PASSWORD=PASSWORD_FOR_USER
DB_ADDRESS=IP_ADDRESS_OF_SERVER
DB_PORT=PORT_NUMBER_OF_SERVER
DB_NAME=DATABASE_NAME

PEPPER=PEPPER_STRING

VALKEY_HOST=VALKEY_HOST_NAME
VALKEY_PORT=VALKEY_PORT_NUMBER
VALKEY_DB=VALKEY_IDENTIFICATION

RESEND_API_KEY=API_KEY_TO_RESEND_API

JWT_SECRET=SECRET_FOR_JWT_ENCRYPTION

ENVIRONMENT=prod/dev

UPDATE_INTERVAL=HOW_LONG_TO_THE_PAST_WILL_THE_UPDATE_SCRIPT_LOOK(HOURS)